<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Insurance</title>

    <!-- Loading third party fonts -->
    {% load static %}
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|" rel="stylesheet" type="text/css">
    <link href="{% static 'main/fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'main/fonts/lineo-icon/style.css' %}" rel="stylesheet" type="text/css">


    <!-- Loading main css file -->
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--[if lt IE 9]>
    <script src="{% static 'main/js/ie-support/html5.js' %}"></script>
    <script src="{% static 'main/js/ie-support/respond.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <![endif]-->

</head>


<body>
<div id="site-content">
    <header class="site-header">
        <div class="top-header">
            <div class="container">
                <a href="{% url 'home' %}" id="branding">
                    <img src="{% static 'main/images/logo.png' %}" alt="Company Name" class="logo">
                    <div class="logo-text">
                        <h1 class="site-title">Anisure</h1>
                    </div>
                </a> <!-- #branding -->

                <div class="right-section pull-right">
                    {% if loggedIn == 0 %}
                        <a href="{% url 'register' %}">
                            <button type="button" class="btn btn-primary" style="margin: 15px">Register/Sign In</button>
                        </a>

                    {% elif loggedIn == 1 %}
                        {% if userName %}
                            <a href="{% url 'profile' userName %}"> Welcome {{name}}! </a>
                        {% endif %}
                            <a href="{% url 'logout' %}">
                                <button type="button" class="btn btn-primary" style="margin: 15px">Log Out</button>
                            </a>

                    {% endif %}
                </div>
            </div> <!-- .container -->
        </div> <!-- .top-header -->


        <div class="bottom-header">
            <div class="container">
                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item"><a href="{%url 'home'%}">Home</a></li>
                        <li class="menu-item"><a href="{%url 'about'%}">About us</a></li>
                        <li class="menu-item"><a href="{% url 'insurance' %}">Insurance plans</a></li>
                        <li class="menu-item"><a href="{% url 'contact' %}">Contact</a></li>
                    </ul> <!-- .menu -->
                </div> <!-- .main-navigation -->

                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>


                <div class="mobile-navigation"></div>
            </div>
        </div>

    </header> <!-- .site-header -->

    {% block body %}

    {% endblock %}


</div>

<script src="{% static 'main/js/jquery-1.11.1.min.js' %}"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
<script src="{% static 'main/js/plugins.js' %}"></script>
<script src="{% static 'main/js/app.js' %}"></script>

</body>

</html>