{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="hero hero-slider">
    <ul class="slides">
        <li data-bg-image="{% static 'main/images/slideTemp-1.jpeg' %}">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title">Get your <strong>Animal Insurance</strong></h2>
                    <p>Pets are part of our everyday lives and part of our families. They provide us with companionship but also with emotional support, reduce
our stress levels, sense of loneliness and help us to increase our social activities and add to a child’s self-esteem and positive emotional
development. In return, as responsible pet owners we need to ensure that our animals are kept healthy, fit, get nutritious food, love and
affection and proper housing and care.</p>
                </div>
            </div>
        </li>
        <li data-bg-image="{% static 'main/dummy/tempSlide-2.jpg' %}">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title">Get your <strong>Animal Insurance</strong></h2>
                    <p>One of our main responsibilities towards our pets is ensuring their health and welfare. When a pet is sick, it needs medical attention, and
even on a yearly basis a pet should have a check-up by a veterinarian. Like us, our pets can get sick and need medicines too. Preventing
and curing disease not only keeps them healthy, but it keeps us healthy too.</p>
                </div>
            </div>
        </li>
        <li data-bg-image="{% static 'main/dummy/slide-3.jpg' %}">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title">Get your <strong>Animal Insurance</strong></h2>
                    <p>More and more people have pets who share our homes and daily lives. Like us, our pets live longer as well. We need new and
improved ways to care for them as our pets are living longer than in the past.</p>
                </div>
            </div>
        </li>
    </ul>
</div> <!-- .hero-slider -->

{% endblock %}

