{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="hero hero-slider">
    <ul class="slides">
        <li data-bg-image="{% static 'main/images/slideTemp-1.jpeg' %}">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title">Get your <strong>Animal Insurance</strong></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quos cumque odio soluta
                        harum error sequi laudantium, est nam perspiciatis eveniet maxime, esse possimus architecto sunt
                        natus reprehenderit debitis fugit.</p>
                    <a href="#" class="button">Get a quote</a>
                </div>
            </div>
        </li>
        <li data-bg-image="{% static 'main/dummy/tempSlide-2.jpg' %}">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title">Get your <strong>Animal Insurance</strong></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quos cumque odio soluta
                        harum error sequi laudantium, est nam perspiciatis eveniet maxime, esse possimus architecto sunt
                        natus reprehenderit debitis fugit.</p>
                    <a href="#" class="button">Get a quote</a>
                </div>
            </div>
        </li>
        <li data-bg-image="{% static 'main/dummy/slide-3.jpg' %}">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title">Get your <strong>Animal Insurance</strong></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quos cumque odio soluta
                        harum error sequi laudantium, est nam perspiciatis eveniet maxime, esse possimus architecto sunt
                        natus reprehenderit debitis fugit.</p>
                    <a href="#" class="button">Get a quote</a>
                </div>
            </div>
        </li>
    </ul>
</div> <!-- .hero-slider -->

<main class="main-content">
    <div class="fullwidth-block greet-section">
        <div class="container">
            <h2 class="section-title">Welcome to our website</h2>
            <small class="section-subtitle">Etiam suscipit leo tincidunt risus dignissim quisque semper mollis</small>

            <div class="row">
                <div class="col-md-3">
                    <div class="feature">
                        <i class="icon-phone-24"></i>
                        <h3 class="feature-title">24 hours Service</h3>
                        <p>Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incididunt labore dolore
                            magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        <i class="icon-hotel"></i>
                        <h3 class="feature-title">Hospitality</h3>
                        <p>Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incididunt labore dolore
                            magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        <i class="icon-luggage"></i>
                        <h3 class="feature-title">Praesent pellentesque </h3>
                        <p>Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incididunt labore dolore
                            magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        <i class="icon-credit-card-hand"></i>
                        <h3 class="feature-title">Consectetur interdum</h3>
                        <p>Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incididunt labore dolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div> <!-- .row -->

            <div class="text-center">
                <p>Sollicitudin sit tortor pellentesque. <a href="#">Read more</a></p>
            </div>
        </div> <!-- .container -->
    </div> <!-- .fullwidth-block -->

    <div class="fullwidth-block" data-bg-color="#f1f1f1">
        <div class="container">
            <h2 class="section-title">Our insurance offer</h2>
            <small class="section-subtitle">Phasellus vel felis in nulla mollis posuere eget rutrum eros</small>

            <div class="row">
                <div class="col-md-3">
                    <div class="offer caption-top">
                        <img src="{% static 'main/dummy/offer-tall.jpg' %}" alt="offer 1">
                        <div class="caption">
                            <h3 class="offer-title">Massa augue</h3>
                            <small>Conubia nostra per inceptos</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="offer caption-bottom">
                                <img src="{% static 'main/dummy/offer-1.jpg' %}" alt="offer 2">
                                <div class="caption">
                                    <h3 class="offer-title">Curabitur vehicula</h3>
                                    <small>Conubia nostra per inceptos</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="offer caption-bottom">
                                <img src="{% static 'main/dummy/offer-wide.jpg' %}" alt="offer 3">
                                <div class="caption">
                                    <h3 class="offer-title">Vivamus rhoncus porttitor</h3>
                                    <small>Conubia nostra per inceptos</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="offer caption-bottom">
                                <img src="{% static 'main/dummy/offer-2.jpg' %}" alt="offer 2">
                                <div class="caption">
                                    <h3 class="offer-title">Curabitur vehicula</h3>
                                    <small>Conubia nostra per inceptos</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="offer caption-bottom">
                                <img src="{% static 'main/dummy/offer-3.jpg' %}" alt="offer 2">
                                <div class="caption">
                                    <h3 class="offer-title">Curabitur vehicula</h3>
                                    <small>Conubia nostra per inceptos</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="offer caption-bottom">
                                <img src="{% static 'main/dummy/offer-4.jpg' %}" alt="offer 2">
                                <div class="caption">
                                    <h3 class="offer-title">Curabitur vehicula</h3>
                                    <small>Conubia nostra per inceptos</small>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .row -->
                </div> <!-- .col-md-8 -->
            </div> <!-- .row -->

        </div> <!-- .container -->
    </div> <!-- .offer-section -->

    <div class="fullwidth-block">
        <div class="container">
            <h2 class="section-title">Latest news</h2>
            <div class="row news-list">
                <div class="col-md-4">
                    <div class="news">
                        <figure><img src="{% static 'main/dummy/featured-image-1.jpg' %}" alt=""></figure>
                        <div class="date"><img src="{% static 'main/images/icon-calendar.png' %}" alt="">03/09/2014
                        </div>
                        <h2 class="entry-title"><a href="#">Donec laoreet non nec aliquam pellentesque interdum</a></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="news">
                        <figure><img src="{% static 'main/dummy/featured-image-2.jpg' %}" alt=""></figure>
                        <div class="date"><img src="{% static 'main/images/icon-calendar.png' %}" alt="">03/09/2014
                        </div>
                        <h2 class="entry-title"><a href="#">Donec laoreet non nec aliquam pellentesque interdum</a></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="news">
                        <figure><img src="{% static 'main/dummy/featured-image-3.jpg' %}" alt=""></figure>
                        <div class="date"><img src="{% static 'main/images/icon-calendar.png' %}" alt="">03/09/2014
                        </div>
                        <h2 class="entry-title"><a href="#">Donec laoreet non nec aliquam pellentesque interdum</a></h2>
                    </div>
                </div>
            </div> <!-- .row -->
        </div> <!-- .container -->
    </div> <!-- .latest-news-section -->

    <div class="fullwidth-block" data-bg-color="#0f75bd">
        <div class="container">
            <div class="testimonial-slider">
                <ul class="slides">
                    <li>
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quod explicabo
                            optio quia ex odit, sequi harum voluptatibus autem. Nam autem corporis deleniti fugiat omnis
                            itaque, quis laudantium dolor facere.<cite>John Smith</cite></blockquote>
                    </li>
                    <li>
                        <blockquote>At doloremque, itaque molestias neque nesciunt placeat aspernatur veniam fugit enim,
                            dolor, repudiandae a. Laborum optio dolorum qui maxime doloribus eligendi in enim minima
                            quo? Quis tenetur eos, libero exercitationem.<cite>John Smith</cite></blockquote>
                    </li>
                    <li>
                        <blockquote>Ipsam nesciunt velit voluptatem? Voluptas amet, porro eaque asperiores magni rerum
                            vitae nulla inventore, numquam facilis doloribus placeat iure suscipit adipisci dolores modi
                            saepe deserunt nisi. Nam, illum aperiam velit.<cite>John Smith</cite></blockquote>
                    </li>
                </ul>
            </div>
        </div> <!-- .container -->
    </div> <!-- .fullwidth-block -->

    <div class="fullwidth-block">
        <div class="container">
            <h2 class="section-title">Our partners</h2>

            <div class="partners">
                <a href="#"><img src="dummy/money-logo.png" alt=""></a>
                <a href="#"><img src="dummy/nyt-logo.png" alt=""></a>
                <a href="#"><img src="dummy/forbes-logo.png" alt=""></a>
                <a href="#"><img src="dummy/wsj-logo.png" alt=""></a>
                <a href="#"><img src="dummy/bbs-logo.png" alt=""></a>
            </div> <!-- .partners -->
        </div> <!-- .container -->
    </div> <!-- .fullwidth-block -->

    <div class="fullwidth-block">
        <div class="map"></div>
    </div>
</main>
{% endblock %}

