<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
	<!--<head>-->
		<!--<meta charset="UTF-8">-->
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">-->
		<!---->
		<!--<title>Insurance | Insurances type</title>-->

		<!--&lt;!&ndash; Loading third party fonts &ndash;&gt;-->
		<!--<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|" rel="stylesheet" type="text/css">-->
		<!--<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">-->
		<!--<link href="fonts/lineo-icon/style.css" rel="stylesheet" type="text/css">-->

		<!--&lt;!&ndash; Loading main css file &ndash;&gt;-->
		<!--<link rel="stylesheet" href="style.css">-->
		<!---->
		<!--&lt;!&ndash;[if lt IE 9]>-->
		<!--<script src="js/ie-support/html5.js"></script>-->
		<!--<script src="js/ie-support/respond.js"></script>-->
		<!--<![endif]&ndash;&gt;-->

	<!--</head>-->


	<!--<body>-->
		<!---->
		<!--<div id="site-content">-->
			<!--<header class="site-header">-->
				<!--<div class="top-header">-->
					<!--<div class="container">-->
						<!--<a href="index.html" id="branding">-->
							<!--<img src="images/logo.png" alt="Company Name" class="logo">-->
							<!--<div class="logo-text">-->
								<!--<h1 class="site-title">Company Name</h1>-->
								<!--<small class="description">Taline goes here</small>-->
							<!--</div>-->
						<!--</a> &lt;!&ndash; #branding &ndash;&gt;-->
					<!---->
						<!--<div class="right-section pull-right">-->
							<!--<a href="#" class="phone"><img src="images/icon-phone.png" class="icon">+1 823 424 9134</a>-->
					<!---->
							<!--<form action="#" class="search-form">-->
								<!--<input type="text" placeholder="Search...">-->
								<!--<button type="submit"><img src="images/icon-search.png" alt=""></button>-->
							<!--</form>-->
						<!--</div>-->
					<!--</div> &lt;!&ndash; .container &ndash;&gt;-->
				<!--</div> &lt;!&ndash; .top-header &ndash;&gt;-->

				<!---->
				<!--<div class="bottom-header">-->
					<!--<div class="container">-->
						<!--<div class="main-navigation">-->
							<!--<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>-->
							<!--<ul class="menu">-->
								<!--<li class="menu-item"><a href="about.html">About us</a></li>-->
								<!--<li class="menu-item current-menu-item"><a href="insurance.html">Insurance plans</a></li>-->
								<!--<li class="menu-item"><a href="resource.html">Resources</a></li>-->
								<!--<li class="menu-item"><a href="contact.html">Contact</a></li>-->
							<!--</ul> &lt;!&ndash; .menu &ndash;&gt;-->
						<!--</div> &lt;!&ndash; .main-navigation &ndash;&gt;-->
						<!---->
						<!--<div class="social-links">-->
							<!--<a href="#"><i class="fa fa-facebook"></i></a>-->
							<!--<a href="#"><i class="fa fa-twitter"></i></a>-->
							<!--<a href="#"><i class="fa fa-google-plus"></i></a>-->
							<!--<a href="#"><i class="fa fa-pinterest"></i></a>-->
						<!--</div>-->
						<!---->
						<!--<div class="mobile-navigation"></div>-->
					<!--</div>-->
				<!--</div>-->
				<!---->
			<!--</header> &lt;!&ndash; .site-header &ndash;&gt;-->
{% extends 'base.html' %}
{% load static %}
{% block body %}

			<main class="main-content">
				<div class="breadcrumbs">
					<div class="container">
						<a href="index.html">Home</a>
						<span>Insurance</span>
					</div>
				</div>

				<div class="page">
					<div class="container">
						<h3 class="entry-title">Choose your own insurance plan</h3>
						<p>A home is not a home without a pet. They give us companionship and unconditional love. So, in order to protect these amazing animals when they are sick or injured and to give them the best medical attention, it is important to avail Pet Insurance. Pet Insurance policy is one of the latest insurance schemes introduced in India. This scheme covers veterinary expenses incurred for the treatment of a pet who has endured an injury or is sick. Some pet insurance plans also covers death or loss of the pet that is insured. This helps pet owners to eliminate the risk of high expenditure for medical treatment of the pet and to protect its life by providing the best treatment.</p>



						<div class="filterable-items">
							<div class="insurance-item filterable-item shopping-center">
								<div class="insurance-content">
									<div class="insurance-icon"><i class="icon-sofa"></i></div>
									<h3 class="insurance-title">Cattle Insurance</h3>
									<p>Get a life insurance for you cattle at an irresistible price</p>
									<a href="{% url 'showPlan' 1 %}" class="button">See details</a>
								</div>
							</div>
						

							<div class="insurance-item filterable-item skyscraper">
								<div class="insurance-content">
									<div class="insurance-icon"><i class="icon-pool"></i></div>
									<h3 class="insurance-title">Pet Insurance</h3>
									<p>Get a life insurance for your domestic pet at minimal installments.</p>
									<a href="{% url 'showPlan' 2 %}" class="button">See details</a>
								</div>
							</div>

							<div class="insurance-item filterable-item apartment">
								<div class="insurance-content">
									<div class="insurance-icon"><i class="icon-nurse"></i></div>
									<h3 class="insurance-title">Medical Insurance</h3>
									<p>Get a medical insurance for your favourite animal and never worry about hospital bills again.</p>
									<a href="{% url 'showPlan' 3 %}" class="button">See details</a>
								</div>
							</div>
						</div>

					</div>
				</div> <!-- .page -->
			</main>
{% endblock %}